    .member-resumes {
        display        : flex;
        justify-content: center;
        align-items    : center;

        p {
            padding   : 0.5rem .75rem;
            transition: var(--hoverTransition);

            &:hover {
                cursor : pointer;
                opacity: .6;
            }
        }

    }

    .member-info {
        padding: .75rem 0 1rem;

        .card-ava {
            width : 6.5rem;
            height: 6.5rem;

            background   : #e5e5e5;
            border-radius: 50%;
        }

        .btn-logout {
            width: 30px;
            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }
    }

    .member-benefit .benefits p {
        font-size: 18px;
    }

    @media only screen and (max-width: 768px) {
        .member-resumes {
            justify-content: start;
            padding: 0 .25rem;
        }

        .member-info {
            .card-ava {
                width : 4rem;
                height: 4rem;
            }
        }

        .member-benefit .benefits p {
            font-size: 14px;
        }
    }