<section id="profile" class="mb-5">
    <div class="member-resumes mt-3 font-18">
        <p>Profile</p>
        <p>Orders</p>
        <p>Favorites</p>
    </div>

    <div class="container">
        <div class="member-info d-flex align-items-center">
            <div class="card-ava"></div>
            <div class="ml-4 mr-auto">
                <p class="font-32 mb-0" style="line-height: 1.3;" >
                    <span>{{myUser.firstname}}</span>
                    <span class="ml-2">{{myUser.lastname}}</span>
                </p>
                <p class="text-secondary">D Member Since
                    <span class="mr-1">{{myUser.month}}</span>
                    <span>{{myUser.year}}</span>
                </p>
            </div>
            <div class="btn-logout mr-3" (click)="logout()">
                <img src="../../../assets/images/logout.png" alt="logout button" width=100%>
            </div>
        </div>

        <div class="member-benefit">
            <p class="my-3 font-24">Member Benefits</p>
            <div class="benefits">
                <owl-carousel-o [options]="benefitsOptions">
                    <ng-template carouselSlide>
                        <div class="pr-2">
                            <img loading="lazy" src="../../../assets/images/profile/b1.jpg" width=100%>
                            <p class="mt-2">Member-Only Product</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pr-2">
                            <img loading="lazy" src="../../../assets/images/profile/b2.jpg" width=100%>
                            <p class="mt-2">Free Returns With Every Order
                            </p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pr-2">
                            <img loading="lazy" src="../../../assets/images/profile/b3.jpg" width=100%>
                            <p class="mt-2">Exclusive Deals</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pr-2">
                            <img loading="lazy" src="../../../assets/images/profile/b4.jpg" width=100%>
                            <p class="mt-2">Free Running and Training Apps</p>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="pr-2">
                            <img loading="lazy" src="../../../assets/images/profile/b5.jpg" width=100%>
                            <p class="mt-2">D Events</p>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>