<ngx-spinner bdColor="rgba(0,0,0,0.85)" size="medium" color="#ff4b1f" type="fire" [fullScreen]="true">
  <p style="color: white"> Booking order... </p>
</ngx-spinner>

<section id="checkout" class="my-5">
  <!-- The cart is empty -->
  <div class="text-center" style="margin: 0 auto;" *ngIf="cartData.data[0].numInCart === 0">
    <h1 style="font-family: Bangers, sans-serif">checkout</h1>
    <div>
      <img loading="lazy" src="../../../assets/images/empty-cart.jpg" alt="empty cart" width=25%>
    </div>
    <p class="mb-0">There are no items in your cart.</p>
  </div>

  <!-- The cart is has some items -->
  <div class="container" *ngIf="cartData.data[0].numInCart !== 0">
    <div class="mb-5" style="font-family: 'Oswald', sans-serif; letter-spacing: var(--mainSpacing)">
      <h1 class="text-uppercase text-center font-30 font-weight-bold">checkout</h1>
    </div>

    <div class="row d-flex justify-content-around px-2">
      <!-- Shipping Info -->
      <div id="shipping-info" class="col-md-7">
        <div class="checkout-title">
          <p class="mb-0 text-uppercase font-weight-bold font-15">shipping address</p>
        </div>

        <div class="shipping-details">
          <form [formGroup]="checkoutForm">
            <div id="name" class="d-flex">
              <div class="form-group">
                <input type="text" formControlName="firstname" class="form-control" placeholder="First Name"
                  [ngClass]="{'is-invalid':firstname.errors && firstname.touched}">
                <div class="invalid-feedback mt-1 font-13" *ngIf="firstname.hasError('required')">
                  First name is required
                </div>
              </div>

              <div class="form-group">
                <input type="text" formControlName="lastname" class="form-control" placeholder="Last Name"
                  [ngClass]="{'is-invalid':lastname.errors && lastname.touched}">
                <div class="invalid-feedback mt-1 font-13" *ngIf="lastname.hasError('required')">
                  Last name is required
                </div>
              </div>
            </div>

            <div class="form-group ml-2">
              <input type="text" formControlName="address" class="form-control" placeholder="Address"
                [ngClass]="{'is-invalid':address.errors && address.touched}">
              <div class="invalid-feedback mt-1 font-13" *ngIf="address.hasError('required')">
                Address is required
              </div>
            </div>

            <div id="info" class="d-flex">
              <div class="form-group">
                <input type="email" formControlName="email" class="form-control" placeholder="Email"
                  [ngClass]="{'is-invalid':email.errors && email.touched}">
                <div class="invalid-feedback mt-1 font-13" *ngIf="email.hasError('required')">
                  Email is required
                </div>
              </div>

              <div class="form-group">
                <input type="tel" formControlName="phone" class="form-control" placeholder="Phone Number"
                  [ngClass]="{'is-invalid':phone.errors && phone.touched}">
                <div class="invalid-feedback mt-1 font-13" *ngIf="phone.hasError('required')">
                  Phone number is required
                </div>
              </div>
            </div>

            <div class="form-group ml-2">
              <textarea class="form-control" rows="2" placeholder="Order Notes"></textarea>
            </div>
          </form>
        </div>
      </div>

      <!-- Cart -->
      <div id="cart-resume" class="col-md-4">
        <div class="checkout-title" style="background-color: #e5e5e5">
          <p class="mb-0 text-uppercase font-weight-bold text-dark">in your cart</p>
        </div>

        <div class="cart-details">
          <div *ngFor="let c of cartData.data; let i = index">
            <div class="d-flex justify-content-between">
              <p>
                <span>{{c.numInCart}}</span>
                <span class="mx-2">x</span>
                <span [routerLink]="['/product-details', c.product?.id]"
                  style="cursor: pointer;">{{c.product?.title}}</span>
              </p>
              <p>{{(c.product?.price * c.numInCart) | currency:'USD' : 'symbol-narrow':'.2'}}</p>
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <p>Shipping </p>
            <p>$0.00</p>
          </div>
          <div id="cart-total" class="d-flex justify-content-between">
            <p>Total </p>
            <p style="color: orangered">{{cartTotal| currency:'USD' : 'symbol-narrow':'.2'}}</p>
          </div>

          <button style="font-family: Oswald, sans-serif" type="submit" [disabled]="checkoutForm.invalid"
            [class.disable]="checkoutForm.invalid" class="btn-checkout py-3 font-17 text-center mt-4"
            (click)="checkOut()">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</section>