header {
    p {
        padding: 0.5rem 0;
    }

    .account:hover {
        cursor    : pointer;
        color     : #dddddd;
        transition: var(--hoverTransition);
    }

    .account:focus {
        outline: none;
    }

    #info i {
        color: rgb(221, 24, 24);
    }
}

#bg {
    position: sticky;
    top     : 0;
    left    : 0;
    z-index : 10000;

    background-color: white;
    border-bottom   : 0.5px solid #e5e5e5;

    #logo {
        width      : 100%;
        margin-left: -1.5rem;

        img {
            width: 100%;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                outline: none;
            }
        }
    }

    #navbar {
        font-family: 'Oswald', sans-serif;

        p {
            letter-spacing: var(--mainSpacing);

            padding      : 1.25rem 1rem;
            border-bottom: 2px solid transparent;

            &:hover {
                cursor       : pointer;
                border-bottom: 2px solid black;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .cart-btn {
        position: relative;

        .qc-view {
            display: none;

            .cart-transparent {
                position: absolute;
                height  : 1rem;
                width   : 20rem;

                right: -1.5rem;
            }

            .no-items {
                position: absolute;
                top     : 3.5rem;
                right   : -1.5rem;
                width   : 13rem;

                padding   : 0.5rem;
                margin-top: -.75rem;

                background-color: white;
                box-shadow      : 10px 7px 0.5px rgba(80, 72, 72, 0.1);
                border          : .5px solid rgba(80, 72, 72, 0.1);
            }

            .quick-cart {
                position: absolute;
                top     : 3.5rem;
                right   : -1.5rem;
                width   : 20rem;
                height  : 12rem;

                padding   : 0.5rem;
                margin-top: -.75rem;

                background-color: white;
                box-shadow      : 10px 7px 0.5px rgba(80, 72, 72, 0.1);
                border          : .5px solid rgba(80, 72, 72, 0.1);

                overflow-y: scroll;
                overflow-x: hidden;

                .cart--buttons div {
                    margin-top   : 0.5rem;
                    padding      : 0.65rem 1.5rem;
                    border-radius: 2rem;

                    &:hover {
                        opacity   : .8;
                        cursor    : pointer;
                        transition: var(--hoverTransition);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .viewcart {
                    border: 0.5px solid #cccccc;
                }

                .checkout {
                    background-color: var(--bgColor);
                    color           : white;
                }
            }
        }

        .scale-up-ver-bottom {
            -webkit-animation: scale-up-ver-bottom 0.4s ease-in-out both;
            animation        : scale-up-ver-bottom 0.4s ease-in-out both;
        }

        .fas.fa-shopping-cart {
            font-size: 22px;
        }

        .cart--items--qty {
            position: absolute;

            top  : .65rem;
            right: 0.6rem;

            border-radius: 50%;

            color    : red;
            font-size: 13px;

            padding    : 0 0.4rem;
            font-weight: bold;
        }

        &:hover {
            .fas.fa-shopping-cart {
                opacity: 0.9;
            }

            .qc-view {
                display: block;
            }

            cursor    : pointer;
            transition: var(--hoverTransition);
        }
    }
}

#policy {
    background-color: var(--policyColor);

    .carousel-item {
        p {
            line-height: 1;
        }

        a {
            color          : grey;
            text-decoration: underline;
        }
    }
}

p {
    margin-bottom: 0;
}

/* Phone */
#sm {
    display: none;

    position: sticky;
    top     : 0;
    left    : 0;
    z-index : 10000;

    background-color: white;
    border-bottom   : 0.5px solid #e5e5e5;

    #logo img:focus {
        outline: none;
    }

    button.navbar-toggler {
        border-color: transparent;

        &:focus {
            outline: none;
        }
    }

    .navbar-toggler {
        padding: .25rem 0 .25rem 1rem
    }

    span.navbar-toggler-icon:hover {
        color: black;
    }
}

@media only screen and (max-width: 768px) {
    #bg {
        display: none;
    }

    #sm {
        display: block;

        .cart-btn {
            position: relative;

            .cart--items--qty {
                position: absolute;
                top     : -0.3rem;
                right   : -0.6rem;

                border-radius   : 50%;
                background-color: red;
                color           : white;

                font-size: 12px;
                padding  : 0 0.4rem;
            }
        }
    }
}