<header>
    <div class="px-3 py-1">
        <div class="d-flex justify-content-between align-items-center">
            <!-- NAVIGATION -->
            <nav id="navbar">
                <div id="menu-bar">
                    <div id="menu" (click)="onClickMenu()">
                        <div id="bar-1" class="bar"></div>
                        <div id="bar-2" class="bar"></div>
                        <div id="bar-3" class="bar"></div>
                    </div>
                    <div class="nav font-weight-bold text-uppercase" id="nav">
                        <p routerLink="/">home</p>
                        <p routerLink="/men">men</p>
                        <p routerLink="/women">women</p>
                        <p routerLink="/kids">kids</p>
                        <p routerLink="/accessories">accessories</p>
                        <p routerLink="/about.d">about us</p>
                        <hr>
                        <p routerLink="/register">{{authState === false ? 'register' : ''}}</p>
                        <p routerLink="/login">{{authState === false ? 'login' : 'my account'}}</p>
                    </div>
                </div>
                <div id="menu-bg" class="menu-bg"></div>
            </nav>

            <!-- LOGO -->
            <div id="logo">
                <img src="./assets/images/logo.png" alt="logo" routerLink="/" width=100%>
            </div>

            <!-- CART -->
            <div id="cart-btn">
                <span class="nav-icon" routerLink="/cart">
                    <div style="width: 35px"><img src="../../../assets/images/shopping-bag.png" alt="shopping bag"
                            width=100%></div>
                    <span
                        class="cart--items--qty">{{(cartData.data[0].numInCart !== 0 && authState === true) ? cartData.data.length : 0}}</span>
                </span>

                <div class="qc-view">
                    <div class="cart-transparent"></div>

                    <div *ngIf="authState === false">
                        <div class="no-items scale-up-ver-bottom text-center">
                            <p>You need to <u routerLink="/login" class="not-login">login</u> first</p>
                        </div>
                    </div>

                    <div *ngIf="authState === true">
                        <div class="no-items scale-up-ver-bottom" *ngIf="cartData.data[0].numInCart === 0">
                            <p>Your cart is currently empty.</p>
                        </div>

                        <div class="quick-cart scale-up-ver-bottom container" *ngIf="cartData.data[0].numInCart !== 0">
                            <div *ngFor="let c of cartData.data; let i=index">
                                <div class="d-flex mb-2">
                                    <div class="qc-img">
                                        <img [src]="c.product?.image" alt="pro-img" width=100%>
                                    </div>
                                    <div class="px-2 mr-auto">
                                        <p class="font-15" (click)="selectProduct(c.product?.id)">{{c.product?.title}}
                                        </p>
                                        <div class="font-13">
                                            <p class="product-category text-secondary">
                                                {{c.product?.another_CatName}}
                                            </p>
                                            <p>{{c.product?.price | currency:'USD' : 'symbol-narrow':'.0'}}</p>
                                        </div>
                                    </div>
                                    <div class="delete-item">
                                        <span (click)="cartService.deleteProductFromCart(i)"><img
                                                src="../../../assets/images/remove-icon.png" alt="remove"
                                                width=100%></span>
                                    </div>
                                </div>
                            </div>

                            <div class="cart--buttons d-flex justify-content-around align-items-baseline">
                                <div class="viewcart" routerLink="/cart">View
                                    Checkout ({{(cartData.data[0].numInCart !== 0 && authState === true) ? cartData.data.length : 0}})</div>
                                <div class="checkout" routerLink="/checkout">Checkout</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>