p {
    margin-bottom: 0;
}

header {
    position: sticky;
    top     : 0;
    left    : 0;
    z-index : 10000;

    background-color: white;
    border-bottom   : .75px solid #e5e5e5;
}

/* LOGO */
#logo {
    width      : 12%;
    margin-left: 35px;

    img {
        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

/* NAV-BAR */
#menu-bar {
    margin-top: -.35rem;
    z-index   : 2;

    #menu {
        width : 35px;
        cursor: pointer;

        .bar {
            display: block;
            height : 5px;
            width  : 100%;

            background   : linear-gradient(#abbaab, #ffffff);
            border-radius: 5px;
            transition   : 0.3s ease;
        }
    }
}

#bar-1 {
    transform: translateY(-4px);
}

#bar-3 {
    transform: translateY(4px);
}

.nav {
    transition: var(--hoverTransition);
    padding   : .75rem 3rem;

    display  : none;
    font-size: 18px;

    p {
        color        : white;
        margin-bottom: .75rem;
        transition   : var(--hoverTransition);

        &:hover {
            cursor : pointer;
            opacity: .9;
        }

        &:focus {
            outline: none;
        }
    }
}

.menu-bg,
#menu-bar {
    position: absolute;
}

.menu-bg {
    z-index: 1;

    width : 0;
    height: 0;

    background: linear-gradient(#ff4b1f, #ff9068);
    transition: var(--hoverTransition);
}

.change-bg {
    width    : 300px;
    height   : 129.5vh;
    transform: translate(-10%, -30%);
}

.change {
    display: block;

    .bar {
        background-color: wheat;
    }

    #bar-1 {
        transform: translateY(4px) rotateZ(-45deg);
    }

    #bar-3 {
        transform: translateY(-6px) rotate(45deg);
    }

    #bar-2 {
        opacity: 0;
    }
}

/* CART BUTTON */
#cart-btn {
    position: relative;

    .qc-view {
        display: none;

        .not-login:hover {
            transition    : var(--hoverTransition);
            letter-spacing: var(--mainSpacing);
        }

        .cart-transparent {
            position: absolute;
            height  : 1rem;
            width   : 13rem;

            top  : 2rem;
            right: -.5rem;
        }

        .no-items {
            position: absolute;
            top     : 3.5rem;
            right   : -.5rem;
            width   : 13rem;

            padding   : 0.5rem;
            margin-top: -.75rem;

            background-color: white;
            box-shadow      : 10px 7px 0.5px rgba(80, 72, 72, 0.1);
            border          : .5px solid rgba(80, 72, 72, 0.1);
        }

        .quick-cart {
            position: absolute;
            top     : 3.5rem;
            right   : -.5rem;
            width   : 20rem;
            height  : 12rem;

            padding   : 0.5rem;
            margin-top: -.75rem;

            background-color: white;
            box-shadow      : 10px 7px 0.5px rgba(80, 72, 72, 0.1);
            border          : .5px solid rgba(80, 72, 72, 0.1);

            overflow-y: scroll;
            overflow-x: hidden;

            .qc-img {
                width: 26%;

                img {
                    width: 100%;
                }
            }

            .delete-item {
                width: 4%;
            }

            .cart--buttons div {
                margin-top   : 0.5rem;
                padding      : 0.65rem 1.5rem;
                border-radius: 2rem;

                &:hover {
                    opacity   : .8;
                    cursor    : pointer;
                    transition: var(--hoverTransition);
                }

                &:focus {
                    outline: none;
                }
            }

            .viewcart {
                border: 1px solid #cccccc;
            }

            .checkout {
                background-color: var(--bgColor);
                color           : white;
            }
        }
    }

    .scale-up-ver-bottom {
        -webkit-animation: scale-up-ver-bottom 0.4s ease-in-out both;
        animation        : scale-up-ver-bottom 0.4s ease-in-out both;
    }

    .fas.fa-shopping-cart {
        font-size: 22px;
    }

    .cart--items--qty {
        position: absolute;

        top  : .75rem;
        right: 0.45rem;

        border-radius: 50%;

        color: red;

        padding    : 0 0.4rem;
        font-weight: bold;
    }

    &:hover {
        .fas.fa-shopping-cart {
            opacity: 0.9;
        }

        .qc-view {
            display: block;
        }

        cursor    : pointer;
        transition: var(--hoverTransition);
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 25%;
    }

    .qc-img {
        width: 85px;
    }

    .nav {
        padding: 1.5rem 3rem;

        font-size: 16px;
    }

    .change-bg {
        width : 230px;
        height: 132vh;
    }
}