<header>
    <div class="px-4 py-1">
        <div class="d-flex justify-content-between align-items-center">
            <!-- NAVIGATION -->
            <nav>
                <div id="menu-bar">
                    <div id="menu" (click)="onClickMenu()">
                        <div id="bar-1" class="bar"></div>
                        <div id="bar-2" class="bar"></div>
                        <div id="bar-3" class="bar"></div>
                    </div>
                    <div class="nav font-18 font-weight-bold text-uppercase" id="nav">
                        <p routerLink="/">home</p>
                        <p routerLink="/men">men</p>
                        <p routerLink="/women">women</p>
                        <p routerLink="/kids">kids</p>
                        <p routerLink="/accessories">accessories</p>
                        <p routerLink="/about.dsport">about us</p>
                        <p routerLink="/register">register</p>
                        <p routerLink="/login">login</p>
                    </div>
                </div>
                <div id="menu-bg" class="menu-bg"></div>
            </nav>

            <!-- LOGO -->
            <div id="logo">
                <img src="./assets/images/logo.png" alt="logo" routerLink="/" width=100%>
            </div>

            <!-- CART -->
            <div id="cart-btn" class="text-right">
                <span class="nav-icon" routerLink="/cart">
                    <div style="width: 35px; float: right;"><img src="../../../assets/images/shopping-bag.png"
                            alt="shopping bag" width=100%></div>
                    <span
                        class="cart--items--qty">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</span>
                </span>

                <div class="qc-view">
                    <div class="cart-transparent"></div>

                    <div>
                        <div class="no-items scale-up-ver-bottom" *ngIf="cartData.data[0].numInCart === 0">
                            <p>Your cart is currently empty.</p>
                        </div>

                        <div class="quick-cart scale-up-ver-bottom container" *ngIf="cartData.data[0].numInCart !== 0">
                            <div *ngFor="let c of cartData.data; let i=index">
                                <div class="row mb-1">
                                    <div class="qc-img col-md-4">
                                        <img [src]="c.product?.image" alt="pro-img" width=100%>
                                    </div>
                                    <div class="col-md-6 text-left p-0">
                                        <p class="font-15">{{c.product?.title}}</p>
                                        <div class="font-13">
                                            <p class="product-category text-secondary">
                                                {{c.product?.another_CatName}}
                                            </p>
                                            <p>{{c.product?.price | currency:'USD' : 'symbol-narrow':'.0'}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-1 text-center">
                                        <span (click)="cartService.deleteProductFromCart(i)"><img
                                                src="../../../assets/images/remove-icon.png" alt="remove"
                                                width=25%></span>
                                    </div>
                                </div>
                            </div>

                            <div class="cart--buttons d-flex justify-content-around align-items-baseline">
                                <div class="viewcart" routerLink="/cart">View
                                    Checkout ({{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}})</div>
                                <div class="checkout" routerLink="/checkout">Checkout</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>