<header>
    <div class="px-3 d-flex justify-content-between align-items-center">

        <!-- NAVIGATION -->
        <div>
            <button class="header__button p-0" id="btnNav" type="button" (click)="onClickMenu()">
                <i class="fas fa-bars font-26"></i>
            </button>
            <nav class="nav">
                <div class="nav__links p-4">
                    <div id="nav--close" class="d-flex justify-content-end font-26 py-2">
                        <i class="far fa-times-circle"></i>
                    </div>
                    <div>
                        <p class="nav__link" routerLink="/">home</p>
                        <p class="nav__link" routerLink="/men">men</p>
                        <p class="nav__link" routerLink="/women">women</p>
                        <p class="nav__link" routerLink="/kids">kids</p>
                        <p class="nav__link" routerLink="/accessories">accessories</p>
                        <p class="nav__link" routerLink="/about.d">about us</p>
                        <hr>
                        <p class="nav__link" routerLink="/register" *ngIf="authState === false">register</p>
                        <p class="nav__link" (click)="routerLink()">{{authState === false ? 'login' : 'my account'}}</p>
                    </div>
                </div>
                <div class="nav__overlay"></div>
            </nav>
        </div>

        <!-- LOGO -->
        <div id="logo">
            <img src="./assets/images/logo.png" loading=lazy alt="logo" routerLink="/" width=100%>
        </div>

        <!-- CART -->
        <div id="cart-btn">
            <span class="nav-icon" routerLink="/cart">
                <div style="width: 35px"><img src="../../../assets/images/shopping-bag.png" alt="shopping bag"
                        width=100%>
                </div>
                <span
                    class="cart--items--qty">{{(cartData.data[0].numInCart !== 0 && authState === true) ? cartData.data.length : 0}}</span>
            </span>

            <div class="qc-view">
                <div class="cart-transparent"></div>

                <div *ngIf="authState === false">
                    <div class="no-items scale-up-ver-bottom text-center">
                        <p class="m-0">You need to <u routerLink="/login" class="not-login">login</u> first</p>
                    </div>
                </div>

                <div *ngIf="authState === true">
                    <div class="no-items scale-up-ver-bottom" *ngIf="cartData.data[0].numInCart === 0">
                        <p>Your cart is currently empty.</p>
                    </div>

                    <div class="quick-cart scale-up-ver-bottom container" *ngIf="cartData.data[0].numInCart !== 0">
                        <div *ngFor="let c of cartData.data; let i=index">
                            <div class="d-flex mb-2">
                                <div class="qc-img">
                                    <img [src]="c.product?.image" loading=lazy alt="pro-img"
                                        (click)="selectProduct(c.product?.id)"width=100%>
                                </div>
                                <div class="px-2 mr-auto">
                                    <p class="font-15" (click)="selectProduct(c.product?.id)">
                                        {{c.product?.title}}
                                    </p>
                                    <div class="font-13">
                                        <p class="product-category text-secondary">
                                            {{c.product?.another_CatName}}
                                        </p>
                                        <p>{{c.product?.price | currency:'USD' : 'symbol-narrow':'.0'}}</p>
                                    </div>
                                </div>
                                <div class="delete-item">
                                    <span (click)="cartService.deleteProductFromCart(i)">
                                        <img src="../../../assets/images/remove-icon.png" loading=lazy alt="remove"
                                            width=100%></span>
                                </div>
                            </div>
                        </div>

                        <div class="cart--buttons d-flex justify-content-around align-items-baseline">
                            <div class="viewcart" routerLink="/cart">View
                                Checkout
                                ({{(cartData.data[0].numInCart !== 0 && authState === true) ? cartData.data.length : 0}})
                            </div>
                            <div class="checkout" routerLink="/checkout">Checkout</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>