header {
    position: sticky;
    top     : 0;
    left    : 0;
    z-index : 10000;

    background-color: white;
    border-bottom   : .75px solid #e5e5e5;

    p {
        margin-bottom: 0;
    }
}

.header__button {
    flex-shrink: 0;

    background: none;
    outline   : none;
    border    : none;

    color: var(--bgColor);
}

// Navigation
.nav__links {
    position: fixed;
    top     : 0;
    left    : 0;

    height: 100vh;
    width : 250px;

    z-index   : 10000;
    transform : translateX(-250px);
    transition: transform 0.3s;

    background: white;

    #nav--close i {
        color: #666666;

        &:hover {
            cursor: pointer;
            color : black;
        }
    }

    .nav__link {
        display    : flex;
        align-items: center;

        color: #666666;

        font-size    : 22px;
        font-weight  : bold;
        margin-bottom: .5rem;

        transition: var(--hoverTransition);
        background: transform 0.3s;

        &:hover {
            color: orangered;

            cursor : pointer;
            opacity: .9;

            transform     : translateX(9px);
            letter-spacing: var(--mainSpacing);
        }

        &:focus {
            outline: none;
        }
    }
}

.nav--open .nav__links {
    transform : translateX(0);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.nav__overlay {
    position: fixed;
    top     : 0;
    left    : 0;

    width : 100vw;
    height: 100vh;

    background     : rgba(0, 0, 0, .5);
    backdrop-filter: blur(.75px);

    visibility: hidden;
    opacity   : 0;
    transition: opacity 0.3s;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity   : 1;
}

// Logo
#logo {
    width : 10%;
    height: 100%;

    img {
        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

// Cart
#cart-btn {
    position: relative;

    .qc-view {
        display: none;

        .not-login:hover {
            transition    : var(--hoverTransition);
            letter-spacing: var(--mainSpacing);
        }

        .cart-transparent {
            position: absolute;
            height  : 1rem;
            width   : 13rem;

            top  : 2rem;
            right: -.5rem;
        }

        .no-items {
            position: absolute;
            top     : 3.5rem;
            right   : -.5rem;
            width   : 13rem;

            padding   : 0.5rem;
            margin-top: -.75rem;

            background-color: white;
            box-shadow      : 10px 7px 0.5px rgba(80, 72, 72, 0.1);
            border          : .5px solid rgba(80, 72, 72, 0.1);
        }

        .quick-cart {
            position: absolute;
            top     : 3.5rem;
            right   : -.5rem;
            width   : 20rem;
            height  : 12rem;

            padding   : 0.5rem;
            margin-top: -.75rem;

            background-color: white;
            box-shadow      : 10px 7px 0.5px rgba(80, 72, 72, 0.1);
            border          : .5px solid rgba(80, 72, 72, 0.1);

            overflow-y: scroll;
            overflow-x: hidden;

            .qc-img {
                width: 26%;

                img {
                    width: 100%;
                }
            }

            .delete-item {
                width: 4%;
            }

            .cart--buttons div {
                margin-top   : 0.5rem;
                padding      : 0.65rem 1.5rem;
                border-radius: 2rem;

                &:hover {
                    opacity   : .8;
                    cursor    : pointer;
                    transition: var(--hoverTransition);
                }

                &:focus {
                    outline: none;
                }
            }

            .viewcart {
                border: 1px solid #cccccc;
            }

            .checkout {
                background-color: var(--bgColor);
                color           : white;
            }
        }
    }

    .scale-up-ver-bottom {
        -webkit-animation: scale-up-ver-bottom 0.4s ease-in-out both;
        animation        : scale-up-ver-bottom 0.4s ease-in-out both;
    }

    .fas.fa-shopping-cart {
        font-size: 22px;
    }

    .cart--items--qty {
        position: absolute;

        top  : .75rem;
        right: 0.45rem;

        border-radius: 50%;

        color: red;

        padding    : 0 0.4rem;
        font-weight: bold;
    }

    &:hover {
        .fas.fa-shopping-cart {
            opacity: 0.9;
        }

        .qc-view {
            display: block;
        }

        cursor    : pointer;
        transition: var(--hoverTransition);
    }
}

@media only screen and (max-width: 768px) {
    #logo {
        width: 25%;
    }

    .qc-img {
        width: 85px;
    }

    .nav__links {
        width: 215px;

        .nav__link {
            font-size: 18px;
        }
    }
}