.btn-shop__bgWhite {
    color  : black;
    padding: 0.35rem 1.75rem;

    background   : white;
    border-radius: 3.5rem;
    outline      : none;

    &:hover {
        cursor    : pointer;
        opacity   : .9;
        transition: var(--hoverTransition);
    }
}

.btn-shop__bgBlack {
    color  : white;
    padding: 0.35rem 1.75rem;

    background   : black;
    border-radius: 3.5rem;
    outline      : none;

    &:hover {
        cursor    : pointer;
        color     : white;
        background: rgba(0, 0, 0, .85);
        transition: var(--hoverTransition);
    }
}

.btn-shop__bgLight {
    background   : #e5e5e5;
    border-radius: 3.5rem;
    border       : 0.5px solid grey;

    &:hover {
        cursor          : pointer;
        background-color: white;
        transition      : var(--hoverTransition);
    }
}

.btn-joinus {
    color  : white;
    padding: 0.35rem 1.75rem;

    background   : var(--bgColor);
    border-radius: 3.5rem;
    outline      : none;

    &:hover {
        color     : white;
        background: rgba(0, 0, 0, .85);
        transition: var(--hoverTransition);
    }
}

.btn-fav {
    color  : black;
    padding: 0.35rem 1.75rem;

    background   : white;
    border-radius: 3.5rem;
    border       : 0.75px solid #e5e5e5;
    outline      : none;

    &:hover {
        cursor : pointer;
        opacity: .9;

        border    : 0.75px solid grey;
        transition: var(--hoverTransition);
    }
}

/* For Filter By and Search functions */
#functions {
    display        : flex;
    justify-content: space-between;
    align-items    : baseline;

    background-color: white;
}

// Filter by
.filter-form {
    position: relative;
}

.btn-none {
    padding: 0.35rem 0 0.35rem 1.75rem;

    background: white;
    border    : none;
    outline   : none;

    &:hover {
        cursor : pointer;
        opacity: .9;

        transition: var(--hoverTransition);
    }

    &:focus {
        outline: none;
    }
}

.toggle-container {
    position: absolute;
    width   : 160px;
    top     : 110%;
    right   : -5px;
    z-index : 1000;

    background   : white;
    color        : black;
    border-radius: 0px 0px 0px 20px;

    text-align: right;
    padding   : 10px 20px 8px 0;

    p {
        margin : 0;
        padding: 0.35rem;

        &:hover {
            cursor : pointer;
            opacity: .5;
        }
    }
}

.icon-up {
    transform : rotate(180deg);
    transition: .5s transform ease-in-out;
}

// Search
.search-wrapper {
    position: relative;
    width   : 245px;
    height  : 40px;

    background   : #f7f7f7;
    border-radius: 20px;

    cursor: pointer;

    input {
        height: 40px;
        width : 100%;

        color      : black;
        font-weight: 100;
        outline    : none;

        border    : 0;
        background: transparent;

        padding: 0 40px 0 13px;

        &::placeholder {
            color: #dddddd;
        }
    }

    i {
        position: absolute;
        top     : 28%;
        right   : 16px;

        color    : var(--bgColor);
        font-size: 18px;
    }
}

// ngx-pagination
.ngx-pagination .current {
    background: #ff4b1f !important;
}

// invalid form
.disable {
    cursor    : not-allowed;
    background: red !important;
    opacity   : .7;
}

@media only screen and (max-width: 768px) {
    #functions {
        display: block;
        .search-wrapper {
            width   : 222.5px;
        }
    }
}