:root {
    --bgColor: #111111;
    --mainColor: #ff4b1f;
    --secondColor: #ff9068;
    --policyColor: #f5f5f5;
    --aboutusColor: #f7f7f7;
    --mainSpacing: .75px;
    --navSpacing: .5px;
    --hoverTransition: .2s all ease-in-out;
}