<app-promotions></app-promotions>

<section id="men" class="container px-3">
    <div id="inner-wrapper" class="py-2">
        <div class="men-title">
            <h3 class="py-2 mb-0">Men</h3>
        </div>
        <div class="inner-wrapper-nav d-flex font-17 py-2">
            <p routerLink="/men/shoes">shoes</p>
            <p routerLink="/men/top">top</p>
            <p routerLink="/men/bottom">bottom</p>
            <p routerLink="/men/accessories">accessories</p>
        </div>
    </div>

    <!-- INTRODUCTION -->
    <div id="men-banner" class="position-relative text-light mb-5">
        <div class="img-container-bg">
            <img loading=lazy src="../../../assets/images/men/men-1.png" alt="men banner" width=100%>
        </div>
        <div class="img-container-sm">
            <img loading=lazy src="../../../assets/images/men/men-13.png" alt="men banner" width=100%>
        </div>
        <div class="banner-content position-absolute py-4">
            <h1 class="text-uppercase banner-title m-0">zoom freak 2</h1>
            <p class="mb-4">Speed, power and controls for every type of player.</p>
            <button class="btn btn-shop__bgWhite" routerLink="/men/shoes">Shop</button>
        </div>
    </div>

    <!-- TRENDING FOOTWEAR -->
    <div id="men-trending-footwear">
        <p class="text-capitalize font-20 mt-5 mb-3">trending footwear</p>
        <div class="position-relative">
            <div class="image-container">
                <img loading=lazy src="../../../assets/images/men/men-2.jpg" width=100%>
            </div>
            <div class="tf-content position-absolute">
                <div>
                    <p class="text-capitalize font-22">air vapormax 2020 flykit</p>
                </div>
                <button class="btn btn-shop__bgBlack" routerLink="/men/shoes">Shop</button>
            </div>
        </div>

        <!-- CAROUSEL ITEMS -->
        <div id="products-carousel" class="mt-3">
            <owl-carousel-o [options]="proCustomOptions">
                <ng-container *ngFor="let p of products">
                    <ng-template carouselSlide>
                        <div class="px-2">
                            <div class="img-container">
                                <img [src]="p.image" loading=lazy style="cursor: pointer;" (click)="selectProduct(p.id)">
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="text-capitalize mb-0 mt-1" style="cursor: pointer;"
                                    (click)="selectProduct(p.id)">
                                    {{p.ProductName}}</p>
                                <p class="mb-0 mt-1">{{p.price | currency: 'USD':'symbol-narrow':'.0'}}</p>
                            </div>
                            <p class="text-secondary font-15">{{p.another_CatName}}</p>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>

    <!-- WHAT'S NEXT -->
    <div id="whats-next">
        <p class="text-capitalize font-20 mt-5">ready for what's next?</p>
        <div class="wn-container my-2">
            <div class="position-relative">
                <div class="first-wn">
                    <img loading=lazy src="../../../assets/images/men/men-7.jpg" width=100%>
                </div>
                <div class="wn-content_bottom position-absolute">
                    <h1 class="wn-title text-uppercase m-0">you got this</h1>
                    <p>Gear up your football</p>
                    <button class="btn btn-shop__bgBlack">Shop</button>
                </div>
            </div>
            <div class="position-relative">
                <div>
                    <img loading=lazy src="../../../assets/images/men/men-8.jpg" width=100%>
                </div>
                <div class="wn-content_bottom position-absolute" style="color: white">
                    <h1 class="wn-title text-uppercase m-0">be bold.</h1>
                    <h1 class="wn-title text-uppercase m-0">be you.</h1>
                    <p>Express your styles...we got you</p>
                    <button class="btn btn-shop__bgWhite">Shop</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MORE TO EXPLORE -->
    <div id="best-seller">
        <p class="font-20 mt-5">More to Explore</p>
        <owl-carousel-o [options]="exploreCustomOptions">
            <ng-template carouselSlide>
                <div class="pr-2">
                    <img loading=lazy src="../../../assets/images/men/men-10.jpg" width=100%>
                    <p class="mt-2 font-20" style="cursor: pointer;" routerLink="/new-releases">New Releases</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pr-2">
                    <img loading=lazy src="../../../assets/images/men/men-11.jpg" width=100%>
                    <p class="mt-2 font-20" style="cursor: pointer;" routerLink="/men/accessories">Bags and Backpacks
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="pr-2">
                    <img loading=lazy src="../../../assets/images/men/men-12.jpg" width=100%>
                    <p class="mt-2 font-20" style="cursor: pointer;" routerLink="/men/shoes">Shoes</p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

</section>

<app-nike-athletes></app-nike-athletes>