<section id="home" class="px-4">
    <div class="introduction">
        <div>
            <img src="../../../assets/images/banner.jpg" alt="home banner" width=100%>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center py-4">
            <p class="title mb-2">YOU CAN’T STOP SPORT.</p>
            <p class="content text-center mb-4">If you have a body, you are an athlete*. And as athletes*, we’re never
                alone.
                Sport unites us. Strengthens us. Keeps us pushing ahead. No matter what happens we will always come back
                stronger, together. You can’t stop sport. Because you can’t stop us.</p>
            <button class="btn btn-joinus">Join Us</button>
        </div>
    </div>

    <div class="next-season position-relative">
        <div class="image-container">
            <img src="../../../assets/images/FOG-x-Nike-28.jpg" width=100% height=100%>
        </div>
        <div class="content position-absolute">
            <div class="content--title">
                <p class="mb-0">NEW FOR NEXT SEASON</p>
            </div>
            <div>
                <p>Must have for first days, first practices and more</p>
            </div>
            <button class="btn btn-shop">Shop</button>
        </div>
    </div>
</section>