#policy {
    background-color: var(--policyColor);

    .carousel-item {
        p {
            line-height: 1;
            margin-bottom: 0;
        }

        a {
            color          : grey;
            text-decoration: underline;
        }
    }
}

.introduction {
    .title {
        font-size  : 3rem;
        font-family: Bangers, sans-serif;
    }

    .content {
        padding: 0 17rem;
    }
}

.next-season {
    color: white;

    .content {
        top : 1rem;
        left: 2rem;

        .content--title {
            font-family: Bangers, sans-serif;
            font-size  : 4rem;
        }
    }
}

.content_bottom {
    color : white;

    left  : 2rem;
    bottom: 2rem;
}

.trending {
    color: black;

    .content {
        top : 1rem;
        left: 2rem;

        .content--title {
            font-family: Bangers, sans-serif;
            font-size  : 4rem;
        }
    }
}