.introduction {
    .title {
        font-size  : 3rem;
        font-family: Bangers, sans-serif;
    }

    .content {
        padding: 0 17rem;
    }

    .btn-joinus {
        color  : white;
        padding: 0.35rem 1.75rem;

        background   : var(--bgColor);
        border-radius: 3.5rem;
        outline      : none;

        &:hover {
            opacity   : .9;
            transition: var(--hoverTransition);
        }
    }
}

.next-season {
    color: white;
    .content {
        top : 1rem;
        left: 2rem;

        .content--title {
            font-family: Bangers, sans-serif;
            font-size  : 4rem;
        }
    }

    .btn-shop {
        color  : black;
        padding: 0.35rem 1.5rem;

        background   : white;
        border-radius: 3.5rem;
        outline      : none;

        &:hover {
            opacity   : .8;
            transition: var(--hoverTransition);
        }
    }
}