<section>
    <div class="container">
        <div class="row">
            <div class="container-404">
                <div class="col-md-8">
                    <h1 style="font-family: Bangers, sans-serif; font-size: 4rem">OOPS!</h1>
                    <p class="font-26 mb-5">This is not the page you are looking for</p>
                    <p class="text-secondary" routerLink="/" style="cursor: pointer;"><u>Back Home</u></p>
                </div>
                <div id="404-img" class="col-md-4">
                    <div><img src="../../../../assets/images/page-404.png" alt="Page not found!" width="100%"></div>
                </div>
            </div>
        </div>
    </div>
</section>