.cart-item {
    border-bottom   : 0.75px solid #e5e5e5;
}

.product-details p {
    margin-bottom: 0;
}

.cart-funcs span {
    border-bottom: 1px solid #cccccc;
    border-radius: 3px;

    padding: 0 0.25rem;

    &:hover {
        cursor : pointer;
        opacity: 0.8;
        transition: var(--hoverTransition);
    }
}

.total {
    border-top   : 0.75px solid #e5e5e5;
    border-bottom   : 0.75px solid #e5e5e5;
}

.form-control {
    width : 17%;
    height: calc(1.5em + .75rem + 2px);

    padding  : .375rem .75rem;
    font-size: 1rem;
    border   : none;

    &:focus {
        box-shadow: none;
    }
}