<section id="thankyou">
    <div class="my-5 text-center" style="margin: 0 auto;">
        <div width="100%">
            <h1 style="font-family: Bangers, sans-serif">thank you!</h1>
            <img class="mb-3" src="../../../assets/images/success.png" alt="ok">
        </div>
        <div>
            <p class="mb-0 font-17">Your order number is <span style="color: orangered"><b>#{{orderId}}</b></span></p>
            <p>It will be delivery in 2-7 business days.</p>
            <p>Email us at <span style="color: orangered">vtmn1212@gmail.com</span> with any questions,
                <br> suggestion, or your favorite products.
            </p>
        </div>
    </div>
</section>