<section id="about-us">
    <div id="overview">
        <p class="abt-title text-uppercase font-weight-bold">about d-sport</p>
        <div class="abt-content pr-2">
            <p>Our mission is what drives us to do everything possible to expand human potential. We do that by creating
                groundbreaking sport innovations, by making our products more sustainably, by building a creative and
                diverse global team and by making a positive impact in communities where we live and work.</p>
            <p>Based in Ho Chi Minh City, Viet Nam, D, Inc. includes the Nike, Converse, and Jordan brands.</p>
        </div>
    </div>

    <div id="innovations-bg">
        <div class="justify-content-center">

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--left">
                        <img #image src="../../../assets/images/about/abt-11.jpg" alt="man-running" width=100%>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">
                            innovation</p>
                        <hr class="hr--accent my-4">
                        <p class="info-article__content--title text-uppercase mt-4">we dare to design the future
                            of
                            sport</p>
                        <p class="text-secondary info-article__content--present">To make big leaps, we take big risks.
                            <u>Learn more</u> about
                            D's innovation team, platforms
                            and partnerships.</p>
                    </div>
                </div>
            </article>

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">our
                            team</p>
                        <hr class="hr--accent my-4">
                        <p class=" info-article__content--title text-uppercase mt-4">a team that's empowered,
                            diverse and inclusive</p>
                        <p class="text-secondary info-article__content--present">A love of unites us. <u>Learn more</u>
                            about D's global team.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--right">
                        <img #imageSecond src="../../../assets/images/about/abt-12.jpg" alt="team" width=100%>
                    </div>
                </div>
            </article>

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--left">
                        <img src="../../../assets/images/about/abt-13.jpg" alt="communities" width=100%>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">social
                            & community impact
                        </p>
                        <hr class="hr--accent my-4">
                        <p class="info-article__content--title text-uppercase mt-4">the world is our community
                        </p>
                        <p class="text-secondary info-article__content--present">We believe in the power of sport to
                            move the world. <u>Learn
                                how</u> D makes an impact in local communities.</p>
                    </div>
                </div>
            </article>

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">
                            sustainable business
                            innovation</p>
                        <hr class="hr--accent my-4">
                        <p class=" info-article__content--title text-uppercase mt-4">protecting the future of
                            sport</p>
                        <p class="text-secondary info-article__content--present">We believe in a fair, sustainable
                            future—one where everyone
                            thrives on a healthy planet and level playing field. <u>Learn how</u> D is using the power
                            of sport to move the world forward.
                        </p>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--right">
                        <img src="../../../assets/images/about/abt-14.jpg" alt="team" width=100%>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div id="innovations-sm">
        <div class="justify-content-center">

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--left">
                        <img src="../../../assets/images/about/abt-11.jpg" alt="man-running" width=100%>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">
                            innovation</p>
                        <hr class="hr--accent my-4">
                        <p class="info-article__content--title text-uppercase">we dare to design the future
                            of
                            sport</p>
                        <p class="text-secondary info-article__content--present">To make big leaps, we take big risks.
                            <u>Learn more</u> about
                            D's innovation team, platforms
                            and partnerships.</p>
                    </div>
                </div>
            </article>

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--right">
                        <img src="../../../assets/images/about/abt-12.jpg" alt="team" width=100%>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">our
                            team</p>
                        <hr class="hr--accent my-4">
                        <p class=" info-article__content--title text-uppercase">a team that's empowered,
                            diverse and inclusive</p>
                        <p class="text-secondary info-article__content--present">A love of unites us. <u>Learn more</u>
                            about D's global team.
                        </p>
                    </div>
                </div>
            </article>

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--left">
                        <img src="../../../assets/images/about/abt-13.jpg" alt="communities" width=100%>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">social
                            & community impact
                        </p>
                        <hr class="hr--accent my-4">
                        <p class="info-article__content--title text-uppercase">the world is our community
                        </p>
                        <p class="text-secondary info-article__content--present">We believe in the power of sport to
                            move the world. <u>Learn
                                how</u> D makes an impact in local communities.</p>
                    </div>
                </div>
            </article>

            <article class="info-article row">
                <div class="col-md-6 align-self-center">
                    <div class="info-article__img--right">
                        <img src="../../../assets/images/about/abt-14.jpg" alt="team" width=100%>
                    </div>
                </div>

                <div class="col-md-6 align-self-center">
                    <div class="info-article__content">
                        <p class="info-article__content--header text-uppercase mb-0" style="letter-spacing: 2px;">
                            sustainable business
                            innovation</p>
                        <hr class="hr--accent my-4">
                        <p class=" info-article__content--title text-uppercase">protecting the future of
                            sport</p>
                        <p class="text-secondary info-article__content--present">We believe in a fair, sustainable
                            future—one where everyone
                            thrives on a healthy planet and level playing field. <u>Learn how</u> D is using the power
                            of sport to move the world forward.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>