<section id="product" class="container">
    <div class="row py-5">
        <!-- Product Images -->
        <div class="col-md-4 product-images">
            <div>
                <img src="../../../assets/images/1.jpg" width=100%>
            </div>
            <div>
                <img src="../../../assets/images/2.jpg" width=100%>
            </div>
        </div>

        <div class="col-md-4 product-images">
            <div>
                <img src="../../../assets/images/3.jpg" width=100%>
            </div>
            <div>
                <img src="../../../assets/images/4.jpg" width=100%>
            </div>
        </div>

        <!-- Product Details -->
        <div class="col-md-4 product-details">
            <div class="d-flex justify-content-between">
                <p class="mb-1">Another Category Name</p>
                <p class="mb-1">$40</p>
            </div>

            <h3 class="font-28">Product Name</h3>

            <div class="font-14">
                <div class="d-flex align-items-baseline">
                    <p class="mr-2">Quantity: </p>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select>
                </div>
            </div>

            <p class="font-12"><i>* Send us your size when checkout.</i></p>

            <div class="text-center mb-4">
                <div class="btn-shop__bgBlack py-3 font-17">Add to Cart</div>
                <div class="btn-fav py-3 mt-2">
                    <p class="mb-0">Favorites
                        <span><i class="far fa-heart ml-2"></i></span></p>
                </div>
            </div>

            <p class="product-desc">Designed specifically for a woman’s foot, the Nike Bella Kai 2 Leather Thong
                beautifully blends form and
                function. It features a premium woven leather strap for a refined look and lasting durability. Soft
                lining wraps your foot in comfort, and the foam footbed adds plush cushioning for everyday wear.</p>

            <!-- Free shipping  -->
            <div class="mt-4">
                <p class="freeship-txt font-22" data-toggle="collapse" data-target="#collapseShipping"
                    aria-expanded="false" aria-controls="collapseExample">
                    Free shipping & Returns
                </p>
                <div class="collapse" id="collapseShipping">
                    <div class="card card-body">
                        <p>Order Delay Notice
                            Due to current measures to protect the safety of our distribution center employees, please
                            expect delays in processing and delivering your order. Visit the <u>Order Status Page</u> to
                            track
                            your order and shipping status.</p>
                        <p>Free standard shipping and free 60-day returns for Nike Members.<u> Learn more. Return policy
                                exclusions apply.</u></p>
                        <p><u>Pick-up available at select Nike Stores.</u></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>