.prod-img-container{
  padding: 0;

  img {
    padding: 0.5rem;
  }
}

.product-details {
  padding: 0.5rem 0.75rem 0.5rem 3rem;
}

input {
  width: 3rem;
  padding: .2rem .3rem;
  text-align: right;

  border: 0.25px solid #e5e5e5;

  &:focus {
    box-shadow: none;
  }
}

.qty-up , .qty-down {
  padding: .21rem 0.5rem;
  font-size: 1rem;

  background-color: #f6f6f6;
  &:hover {
    cursor: pointer;

    background-color: #dddddd;
    transition: var(--hoverTransition);
  }
}

.qty-up {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

.qty-down {
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.freeship-txt {
  padding: 1rem 0;
  border-top: 0.75px solid #e5e5e5;

  &:hover {
    cursor: pointer;
  }
}

.card-body {
  padding: 0;
}

.card {
  margin: 0;
  border: none;
  border-bottom: 0.75px solid #e5e5e5;
}

.disable {
  cursor: not-allowed;
}

.btn-oos {
  background-color: #e73434;
  color: white;
}
