<div id="wrapper" class="d-flex">
  <app-sidebar class=" bg-gradient-primary"></app-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
          <nav class="navbar navbar-expand-lg bg-white shadow d-flex justify-content-end px-5">
              <div class="d-flex justify-content-end align-items-center">
                  <img src="../../../assets/images/admin-avatar.png" alt="admin avatar" style="width: 5%;">
                  <span class="font-13 ml-2">Admin</span>
              </div>
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container mt-4">
              <!-- Page Heading -->
              <div class="row d-flex align-items-baseline pl-3 pr-4">
                <div class="col-5">
                  <div class="content-top d-flex font-14">
                      <a href="#">
                          Home >
                      </a>
                      <div class="ml-1">Management > Product</div>
                  </div>
                </div>
              </div>

              <!-- Data Tables-->
              <div class="card shadow my-4">
                <div class="row card-header d-flex align-items-baseline m-0 py-0 px-2">
                    <div class="col py-3 d-flex justify-content-end">
                        <button type="button" class="btn btn-success px-4" data-toggle="modal" data-target="#Modal">Create New Product</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <p *ngIf="!products"><em>Loading...</em></p>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered display" #dataTable width="100%" cellspacing="0">
                            <thead>
                                <tr class="font-14">
                                    <th class="text-center align-middle">#</th>
                                    <th class="text-center align-middle">Product Name</th>
                                    <th class="text-center align-middle">Image</th>
                                    <th class="text-center align-middle">Description</th>
                                    <th class="text-center align-middle">Price</th>
                                    <th class="text-center align-middle">Qty</th>
                                    <th class="text-center align-middle">Category</th>
                                    <th class="text-center align-middle">Edit</th>
                                </tr>
                            </thead>
                            <tbody class="font-13">
                                <tr *ngFor="let p of products">
                                    <td class="text-center">{{ p.id }}</td>
                                    <td>{{ p.name }}</td>
                                    <td class="text-center product-image">
                                        <div class="col-md-8 prod-img-container">
                                            <ng-container *ngIf="p?.image">
                                              <img [src]="p?.image" width="100px" alt="image-1" loading="lazy">
                                            </ng-container>
                                            <ng-container *ngIf="p?.image_1">
                                              <img [src]="p?.image_1" width="100px" alt="image-2" loading="lazy">
                                            </ng-container>
                                        </div>
                                    </td>
                                    <td>{{ p.description | slice:0:120}}...</td>
                                    <td class="text-right">{{ p.price | currency:"$":'symbol-narrow':'.0'}}</td>
                                    <td class="text-center">{{ p.quantity }}</td>
                                    <td>{{ p.another_CatName }}</td>
                                    <td class="text-center">
                                        <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModal" >
                                                <i class="fas fa-edit"></i></button>
                                            <button id="delete" class="btn btn-danger"><i
                                                    class="fas fa-trash-alt"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>