<div id="policy" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner py-2">
        <div class="carousel-item active text-center">
            <p class="font-15">Sale Up to 25%</p>
            <a href="#" class="font-12">For a limited time - Save on Next Season's Styles</a>
        </div>
        <div class="carousel-item  text-center">
            <p class="font-15">Free Shipping & 60-day Free Returns</p>
            <a href="#" class="font-12">Join Now</a>
        </div>
    </div>
</div>