<section id="register" class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center mt-3 mb-2">
        <img src="../../../assets/images/logo.png" width=25%>
    </div>

    <div class="text-uppercase text-center mb-3 font-20 font-weight-bold"
        style="font-family: Oswald, sans-serif; letter-spacing: 0.75px;">
        <p class="mb-1">become a d. member</p>
    </div>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="username" placeholder="Email address">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="First Name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" id="dob" placeholder="Date of Birth">
        </div>
    </form>

    <p class="font-12 text-secondary text-center px-1">
        By creating an account, you agree to D's <u>Privacy Policy</u> and <u>Terms of Use</u>.
    </p>

    <button class="btn-register text-uppercase text-light font-11"
        style="font-family: Oswald, sans-serif">register</button>

    <div class="font-12 mt-3 mb-4">
        <p>
            <span class="text-secondary">Already a member?</span>
            <span class="ml-2" routerLink="/login" style="cursor: pointer;"><u>Sign In</u></span>
        </p>
    </div>
</section>