#register {
    width : 280px;
    margin: 0 auto;
}

form {
    width: 100%;

    .form-control {
        border       : 1px solid #e5e5e5;
        border-radius: 2px;
        font-size    : 13px;
    }
}

.btn-register {
    width: 100%;

    background-color: var(--bgColor);
    border          : none;
    border-radius   : 2px;

    padding       : 0.45rem 0;
    letter-spacing: var(--mainSpacing);
}