#policy {
    background-color: var(--policyColor);

    .carousel-item {
        p {
            line-height  : 1;
            margin-bottom: 0;
        }

        a {
            color          : grey;
            text-decoration: underline;
        }
    }
}