<footer class="text-light" style="background-color: var(--bgColor);">
    <div class="container py-4 px-0" style="border-bottom: 1px solid hsl(0, 0%, 13%)">
        <div class="row">
            <div class="col-md-2 footer-content">
                <h6 class="font-13 mb-2">find a store</h6>
                <h6 class="font-13 mb-0">become a member</h6>
            </div>
            <div class="col-md-2 footer-content">
                <h6 class="font-13 mb-2">get help</h6>
                <div class="text-capitalize text-secondary font-12 footer-link">
                    <p>order status</p>
                    <p>shipping and delivery</p>
                    <p>returns</p>
                    <p>payment options</p>
                    <p>contact us</p>
                </div>
            </div>
            <div class="col-md-2 footer-content">
                <h6 class="font-13 mb-2">about D.</h6>
                <div class="text-capitalize text-secondary font-12 footer-link">
                    <p>news</p>
                    <p>careers</p>
                    <p>investors</p>
                    <p>sustainability</p>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <div class="btn-social"><i class="fab fa-twitter"></i></div>
                <div class="btn-social"><i class="fab fa-facebook-f"></i></div>
                <div class="btn-social"><i class="fab fa-youtube"></i></div>
                <div class="btn-social"><i class="fab fa-instagram"></i></div>
            </div>
        </div>
    </div>
    
    <div class="container pt-4 px-0 pb-1">
        <div class="row">
            <div class="col-md-1" style="line-height: 6px;">
                <span><i class="fas fa-map-marker-alt font-12"></i></span>
                <span class="font-10 ml-3">Vietnam</span>
            </div>
            <div class="col-md-3 text-secondary font-10">
                <span>&#169; 2020 D. Powered By MyNhung-Vo</span>
            </div>
            <div class="col-md-8 text-secondary font-10 d-flex justify-content-end">
                <p>Guides</p>
                <p>Terms of Sale</p>
                <p>Terms of Use</p>
                <p>D. Privacy Policy</p>
            </div>
        </div>
    </div>
</footer>