.btn-shop__bgWhite {
    color  : black;
    padding: 0.35rem 1.75rem;

    background   : white;
    border-radius: 3.5rem;
    outline      : none;

    &:hover {
        cursor    : pointer;
        opacity   : .9;
        transition: var(--hoverTransition);
    }
}

.btn-shop__bgBlack {
    color  : white;
    padding: 0.35rem 1.75rem;

    background   : black;
    border-radius: 3.5rem;
    outline      : none;

    &:hover {
        cursor    : pointer;
        color     : white;
        background: rgba(0, 0, 0, .85);
        transition: var(--hoverTransition);
    }
}

.btn-shop__bgLight {
    background   : #e5e5e5;
    border-radius: 3.5rem;
    border      : 0.5px solid grey;

    &:hover {
        cursor    : pointer;
        background-color   : white;
        transition: var(--hoverTransition);
    }
}

.btn-joinus {
    color  : white;
    padding: 0.35rem 1.75rem;

    background   : var(--bgColor);
    border-radius: 3.5rem;
    outline      : none;

    &:hover {
        color     : white;
        background: rgba(0, 0, 0, .85);
        transition: var(--hoverTransition);
    }
}

.btn-fav {
    color  : black;
    padding: 0.35rem 1.75rem;

    background   : white;
    border-radius: 3.5rem;
    border: 0.75px solid #e5e5e5;
    outline      : none;

    &:hover {
        cursor    : pointer;
        opacity   : .9;

        border: 0.75px solid grey;
        transition: var(--hoverTransition);
    }
}