.not-login span:hover {
    cursor: pointer;
    transition    : var(--hoverTransition);
    letter-spacing: var(--mainSpacing);
}

.cart-item {
    border-bottom: 0.75px solid #e5e5e5;
}

.product-details p {
    margin-bottom: 0;
}

.cart-funcs span {
    border-bottom: 1px solid #cccccc;
    border-radius: 3px;

    padding: 0 0.25rem;

    &:hover {
        cursor    : pointer;
        opacity   : 0.8;
        transition: var(--hoverTransition);
    }
}

.total {
    border-top   : 0.75px solid #e5e5e5;
    border-bottom: 0.75px solid #e5e5e5;
}

input {
    width  : 3rem;
    padding: .2rem .3rem;

    border: 0.25px solid #e5e5e5;

    &:focus {
        box-shadow: none;
    }
}

.qty-up,
.qty-down {
    padding  : .21rem 0.5rem;
    font-size: 1rem;

    background-color: #f6f6f6;

    &:hover {
        cursor: pointer;

        background-color: #dddddd;
        transition      : var(--hoverTransition);
    }
}

.qty-up {
    border-top-right-radius   : .3rem;
    border-bottom-right-radius: .3rem;
}

.qty-down {
    border-top-left-radius   : .3rem;
    border-bottom-left-radius: .3rem;
}